@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
   
}

.title{
    margin-top:1em;
    display: flex;
    justify-content:center;
    color:#395144;
    font-weight: 700;
}
.todocontainer{
    display:flex;
    justify-content: center;
    margin-top:2em;
   
}
.inputtext{
    border-radius:0.5em;
    width:40em;
    height:3em;
    margin-right:1em;
    border-color: black;
    padding-left:2em;
    font-size:1em;
   
   
}

::placeholder{
    text-align: center;
    color:black;
    font-size:1.5em;
}
.addbtn{
    padding:0.5em;
    border-width:2px;
    border-style:solid;
    border-radius:0.5em;
    background-color:#395144; 
    color: white;
    cursor: pointer;
}
.deleteall{
    color:rgb(119, 11, 11);
    font-weight:800;
    cursor: pointer;
    font-size:1.2em;
    padding:0;
    margin:0;
    width:13%;
  
}
.del>i{
    color:rgb(119, 11, 11);
    font-weight:800;
    font-size:1em;
    padding-left:1em;
}
.taskbody{
   font-size:1.5em;
   font-weight:400;
   display: flex;
   justify-content:space-between;
   align-items: center;
   border-style:solid;
   border-width:2px;
   border-color:#395144;
   margin:1em 3em 1em 3em;
   padding:0 1em 0 1em;
   background-color:#fff;
   border-radius:0.5em;
   height:2em;
}
.tasks{
    display: block;
    justify-self: center;
    padding:1em;
    margin:1em;
    border-radius:3em;
}

#todoicon{
    padding-top:0.25em;
    padding-right:1em;
}
.social{
    display: flex;
    justify-content:center;
    
}
.social>a{
    font-size:1.2em;
    color:#395144;
    cursor: pointer;
    text-decoration: none;
}
#github{
    padding-right:1em;
}
.checkbox{
    display: flex;
    margin-right:0;
    margin-left: auto;
    justify-items: center;
    font-size:1.1em;
    padding-left:0.5em;
}
.insights{
    display:flex;
    justify-content:space-between;
    width:40%;
    margin-left: auto;
    margin-right: auto;
  

}

/* progress circle */
.circlecontainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.circular-progress{
   
    height: 8em;
    width: 8em;
    border-radius: 50%;
    background: conic-gradient(#395144 3.6deg, #D3D3D3 0deg);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right:auto;
    margin-top:1em;
    margin-bottom:1em;
}
.circular-progress::before{
    content: "";
    position: absolute;
    height: 6em;
    width: 6em;
    border-radius: 50%;
    background-color: #fff;
}
.progress-value{
    position: relative;
    font-size: 1em;
    font-weight: 600;
    color: #395144;
}

@media (max-width:1560px){
    .taskbody{   
        height:4em;
        font-size:1.3em;
        font-weight:600;
    }
   
}
@media (max-width:1100px){
    .insights{
        width:70%;
    }
}
